@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1d1f;
  font-family: "Roboto Mono";
}

.huge-text {
  font-size: max(7vw, 28px);
}

.headline-text {
  font-size: max(3vw, 20px);
}

.subheadline-text {
  font-size: max(2vw, 16px);
}

.body-text {
  font-size: max(1vw, 12px);
  line-height: 2;
}

.small-text {
  font-size: max(1vw, 10px);
}

.description-text {
  font-size: max(1vw, 12px);
  line-height: 2;
}
